@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex-center-between;
  padding: 17px 88px 12px 29px;
  background-color: $bg-dark;
  gap: 2rem;

  &__logo-wrapper {
    width: 178px;
    min-width: 178px;
    height: 61px;
  }

  &__logo {
    width: 100%;
    padding: 0;
  }

  &__nav {
    @include flex-center-between;
    width: 75.5%;
  }

  &__navLink {
    font-family: $font-text;
    font-weight: 500;
    font-size: $font-size-lg;
    color: $white;
    white-space: nowrap;
  }
}
