@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  display: flex;
  align-items: center;
  padding: 16px 28px;
  background-color: $bg-dark;
  gap: 2rem;

  &__logo-wrapper {
    width: 178px;
    min-width: 178px;
    height: 61px;
  }

  &__logo {
    width: 100%;
    padding: 0;
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__navLink {
    font-family: $font-text;
    font-weight: 500;
    font-size: $font-size-lg;
    color: $white;
    white-space: nowrap;
  }
}
