@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.nutrition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media screen and (max-width: 1200px) {
    flex-direction: row;
  }
}
