@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.66rem;
  width: $sidebar-width;
  height: 100%;
  background-color: $bg-dark;
  overflow: hidden;
  min-height: stretch;
  gap: $sidebar-gap;
  flex-shrink: 0;

  &__content {
    padding-top: $sidebar-padding-top;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: $sidebar-item-width;
  }

  &__link {
    @include flex-center-row;
    text-decoration: none;
  }
  &__tile {
    width: $sidebar-item-width;
  }

  &__copyright {
    transform: rotate(270deg);
    color: $white;
    font-size: $font-size-xs;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: $sidebar-copyright-mb;
  }
}
