@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.66rem;
  width: 117px;
  height: 100%;
  background-color: $bg-dark;
  overflow: hidden;
  min-height: stretch;
  gap: 24%;
  flex-shrink: 0;

  &__content {
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 64px;
  }
  &__tile {
    width: 64px;
  }

  &__copyright {
    transform: rotate(270deg);
    color: $white;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 7.5rem;
  }
}
