@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.welcome {
  width: $welcome-width;
  height: $welcome-height;

  @media screen and (max-width: $breakpoint-tablet-lg) {
    height: $welcome-height-tablet;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: 500;

    &--span {
      font-size: $font-size-2xl;
      font-weight: 500;
      color: $red;
    }
  }

  &__message {
    font-size: $font-size-md;
    font-weight: 500;
  }
}
