@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.welcome {
  width: 80%;
  height: 10rem;

  @media screen and (max-width: 1200px) {
    height: 8rem;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: 500;

    &--span {
      font-size: $font-size-2xl;
      font-weight: 500;
      color: $red;
    }
  }

  &__message {
    font-size: $font-size-md;
    font-weight: 500;
  }
}
