@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.horizontal-container {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $main-padding-desktop;
  gap: 2em;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: $breakpoint-tablet-lg) {
    padding: $main-padding-tablet;
  }
}

.graphs-container {
  height: $graphs-container-height;
}
