@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.horizontal-container {
  display: flex;
  width: 100%;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.8em 5em 2.8em 6.7em;
  gap: 2em;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: $breakpoint-tablet-lg) {
    padding: 2.5em 4em;
  }
}

.graphs-container {
  height: 20em;
}
