main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 2.5em;
  gap: 1em;
  flex: 1;
  overflow: auto;
}
.main-container {
  border: red 2px solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.horizontal-container {
  display: flex;
  width: 100%;
  flex: 1;
}

.graphs-container {
  border: solid 2px purple;
  height: 20em;
}
