@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.error {
  margin: $error-margin;

  &__title {
    font-size: $error-title-size;
    color: $red;

    &--span {
      color: $black;
    }
  }

  &__message {
    font-size: $error-message-size;
    font-weight: 500;
  }
}
