@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.graphs-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.2rem;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2.2rem;
  }

  .rows-container {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;

    &__last {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;
    }
  }

  &__nutrition {
    height: 100%;
    gap: 1rem;
  }
}

.switch-section {
  display: flex;
  gap: 1rem;

  &__button {
    width: 9rem;
    background-color: $bg-dark;
    color: $white;
    padding: $spacing-xxs;
  }
}
