@use "./abstracts/variables";
@use "./abstracts/mixins";

@use "./pages/app";
@use "./pages/homepage";

@use "./components/header";
@use "./components/sidebar";
@use "./components/welcome";
@use "./components/card";
@use "./components/graphs/weightControl";

@use "./components/graphs/averageSessions";
// @use "./components/rating";

@use "./abstracts/variables" as *;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  line-height: 1.43;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

p,
a,
small,
h1,
h2,
h3,
li {
  font-family: $font-text;
}

a {
  text-decoration: none;
}
