@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.graph-card {
  border: 1px solid $black;
  width: $chart-width;
  height: $chart-height;
}
.custom-tooltip {
  @include flex-center-row;
  background-color: $white;
  width: $chart-tooltip-width;
  height: $chart-tooltip-height;
  color: $black;
  margin: -10px 5px;

  p {
    font-size: $font-size-2sm;
  }
}
