@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.graph-card {
  border: 1px solid black;
  width: 258px;
  height: 263px;
}
.custom-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 39px;
  height: 25px;
  color: #000000;
  margin: -10px 5px;

  p {
    font-size: 8px;
  }
}
