@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.nutrition-card {
  display: flex;
  align-items: center;
  justify-content: center;

  &__infos {
    display: flex;
    flex-direction: column;

    .amount,
    .type {
      margin: 0;
    }
  }
}
