@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.weight-chart {
  background-color: $card-bg;
  padding-bottom: 2rem;
  padding: $chart-padding;
}
.title {
  font-size: $font-size-chart;
  font-weight: 500;
  color: $text-dark;
  margin-left: $margin-chart-title;
}

.custom-tooltip-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: $white;
  text-align: center;
  height: 63px;
  background-color: $red;
}

.custom-tooltip-activity p {
  padding: $padding-chart-item;
  margin: 0;
  font-size: $font-size-2sm;
  font-family: $font-text;
}

.wrapper {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin-chart-bottom;
  margin-inline-end: 1.5rem;
}

.legend {
  display: flex;
  justify-content: flex-end;
  gap: 2.2rem;
  align-items: center;

  &__infos {
    @include flex-center-row;
    gap: 0.6rem;
  }

  &__black-dot {
    width: $chart-dot-size;
    height: $chart-dot-size;
    border-radius: 50%;
    background-color: $text-secondary;
  }
  &__red-dot {
    width: $chart-dot-size;
    height: $chart-dot-size;
    border-radius: 50%;
    background-color: $red;
  }

  &__text {
    font-size: 14px;
    color: $text-tertiary;
    margin: 0;
  }
}
.recharts-wrapper * {
  outline: none;
}
